
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/TestShopApp-Client/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/TestShopApp-Client/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/TestShopApp-Client/.angular/cache
/TestShopApp-Client/.sass-cache
/TestShopApp-Client/connect.lock
/TestShopApp-Client/coverage
/TestShopApp-Client/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/TestShopApp-Client/typings

# System Files
.DS_Store
Thumbs.db

