<div>    
    <mat-card class="filter-card">
        <mat-card-content>
          <h2>{{ 'filters' | translate }}:</h2>
          <br><br><br>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'filter.category' | translate }}</mat-label>
            <mat-select
             [disabled]="!categoryKeys || categoryKeys.length == 0"
             value="all"
             [(ngModel)]="filter.categoryId"
             (selectionChange)="filterValueChanged()">
                <mat-option value="all">All</mat-option>
                <mat-option *ngFor="let id of categoryKeys" [value]="id">{{categories[id]}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'filter.from-price' | translate }}</mat-label>
            <input matInput type="number" [(ngModel)]="filter.fromPrice" (change)="filterValueChanged()">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'filter.to-price' | translate }}</mat-label>
            <input matInput type="number" [(ngModel)]="filter.toPrice" (change)="filterValueChanged()">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'search' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="filter.searchParam" (keyup)="filterValueChanged(true)">
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="clear()">
            <mat-label>{{ 'clear' | translate }}</mat-label>
          </button>
        </mat-card-content>
      </mat-card>
</div>