<div>
    <mat-drawer-container class="container main-container" hasBackdrop="false">
        <mat-drawer #drawer mode="over" [opened]="filterOpened" class="container filter-container" position="end">
          <br><br>            
          <shop-filter [categories]="categories" (filterParametersChange)="filterParametersChanged($event)"></shop-filter>
        </mat-drawer>
        <mat-drawer-content class="container items-page-container">
          <button #toggleFiltersBtn mat-icon-button color="primary" [class]="!FilterOpened ? 'show-filter-btn' : 'hide-filter-btn'" (click)="toggleFilterBtnClicked()">
            <mat-icon>{{!FilterOpened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
          </button>
          <br><br>
          <h1>{{ 'items-to-buy' | translate }}</h1>
          <mat-divider></mat-divider>
          <div class="sort-panel">
              <label>{{ 'sorting-options.Label' | translate }}:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <select
               value="Default"
               [(ngModel)]="filterParameters.orderBy"
               (selectionChange)="orderByChanged()">
                  <option *ngFor="let key of KeysForOrderBy" [value]="key">{{ orderByTranslations[key] }}</option>
              </select>
          </div>

          <mat-card class="example-card" *ngFor="let item of items">
            <mat-card-title-group>
              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-subtitle>{{ item.price | currency }}</mat-card-subtitle>
              <img mat-card-sm-image class="thumbnail" [src]="getItemThumbnailSrc(item)">
            </mat-card-title-group>
            <mat-card-content>
              {{ item.description }}
            </mat-card-content>
          </mat-card>
            <!-- TODO: We need to start limiting the number of items we display and subscribe to event when mat-paginator value has changed.
                       We should also change the code in ItemService to request the next/previous items -->
          <mat-paginator
           [length]="items?.length || 0"
           [pageSize]="5">
          </mat-paginator>
        </mat-drawer-content>
    </mat-drawer-container>
</div>