@import "./assets/styles/toastr.css";

html, body { 
    height: 100%;
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: hidden;   
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 1345px;
  }