<div class="container">
    <mat-card class="login">
        <mat-card-header>
            <mat-card-title>{{ 'login' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'username' | translate }}</mat-label>
             <input type="email" matInput [formControl]="usernameFormControl">
             <mat-error *ngIf="!usernameFormControl.hasError('required') && (usernameFormControl.hasError('email') || usernameFormControl.hasError('minlength'))">
                {{ 'validation-errors.invalidEmail' | translate }}
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                {{ 'validation-errors.emailRequired' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ 'enter-pass' | translate }}</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl">
            <mat-error *ngIf="!passwordFormControl.hasError('required') && (passwordFormControl.hasError('password') || passwordFormControl.hasError('maxlength'))">
                {{ 'validation-errors.invalidPwd' | translate }}
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                {{ 'validation-errors.pwdRequired' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-card-actions>
            <br>
            <button mat-raised-button color="primary" (click)="btnClicked()">{{ 'send' | translate }}</button>
        </mat-card-actions>
    </mat-card-content>
    </mat-card>
</div>

