.login {
  max-width: 180px;
  padding: 0 140px;
  margin: 0 auto;
  padding-bottom: 90px;
  padding-top: 50px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-actions {
  text-align: right;
}