<div>
    <mat-toolbar color="primary">
        <mat-form-field class="select-language" appearance="fill">
            <mat-select [(ngModel)]="language">
                <mat-option value="en-US" (click)="languageChanged()">{{ 'english' | translate }}</mat-option>
                <mat-option value="ru-RU" (click)="languageChanged()">{{ 'russian' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="example-spacer"></span>
        <img class="logo" mat-card-sm-image src="../../../assets/images/logo_transparent.png">
        <span>Test Shop Application</span>
        <span class="example-spacer"></span>
        <div *ngIf="showMenu">
            <span class="name">{{ user }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
            &nbsp;
            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="redirectTo('account')">
                        <mat-icon>account_box</mat-icon>
                        <span>{{ 'menu.account' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="redirectTo('main')">
                        <mat-icon>shopping_basket</mat-icon>
                        <span>{{ 'menu.store' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="redirectTo('orders')">
                        <mat-icon>business_center</mat-icon>
                        <span>{{ 'menu.orders' | translate }}</span>
                    </button>
                    <button mat-menu-item (click)="logOutBtnClicked()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>{{ 'menu.logout' | translate }}</span>
                    </button>
                </span>
            </mat-menu>
        </div>
    </mat-toolbar>
</div>